@font-face {
  font-family: 'Open Sans';
  src: url('resources/OpenSans.eot');
  src: url('resources/OpenSans.eot?#iefix') format('embedded-opentype'),
      url('resources/OpenSans.woff') format('woff'),
      url('resources/OpenSans.ttf') format('truetype'),
      url('resources/OpenSans.svg#OpenSans') format('svg');
}

body {
	background-color: #181818;
}

h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  text-align: center;
}

p {
  color: #DDDDDD;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
}

a:link {
  color: #5f89d2;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #005dff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.github {
  position:fixed;
  bottom:0;
  left:0;
  padding: 20px;
}
